@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans:wght@300;400&family=Play&family=Playball&family=Poppins:wght@200;300;500;600&display=swap");

.container {
  max-width: 1280px;
}
.tree img {
  position: fixed;
  top: 0px;
  right: 550px;
  height: 100%;
  z-index: 2;
  /* opacity: 20%; */
}
.logo {
  height: 100vh;
}
.logo img {
  position: absolute;
  left: 45%;
  top: 150px;
  width: 600px;
}
.logo h3 {
  position: absolute;
  left: 45%;
  top: 400px;
  width: fit-content;
  font-size: 60px;
  font-family: "Playball";
}
.logo h2 {
  position: absolute;
  left: 70%;
  top: 480px;
  width: fit-content;
  font-size: 30px;
  font-family: "Clicker Script";
  color: #39593e;
  font-weight: 600;
}
.about{
  position: relative;
  height: 100vh;
  z-index: 4;
  max-width: 1000px;
  margin: 0 auto;
}
.about .info{
  display: flex;
  margin: 10px;
  gap: 30px;
}
.about img{
  height: 400px;
}
.about h1{
  font-size: 80px;
  position: relative;
}

.scrolled{
  opacity: 20%;
  transition: ease-in 0.5s;
}
.abt-scroll{
  position: absolute;
  bottom: 10px;
  left: 45%;
  font-weight: 100;
}
.abt-scrolled{
  opacity: 0;
}
@media (max-width: 1000px) {
  .tree img {
    right: 100px;
  }
  .logo img {
    left: 45%;
    top: 200px;
    width: 450px;
  }
  .logo h3 {
    top: 380px;
    font-size: 50px;
  }
  .logo h2 {
    top: 430px;
    font-size: 20px;
  }
  .about .info{

    display: block;
    justify-content: center;
   
    /* flex-direction: column; */
    
  }
}
@media (max-width: 500px) {
  .logo {
    max-width: 500px;
  }
  .tree img {
    right: -180px;
    height: 100vh;
  }
  .logo img {
    left: 40%;
    top: 230px;
    width: 200px;
  }
  .logo h3 {
    left: 130px;
    top: 310px;
    font-size: 20px;
  }
  .logo h2 {
    left: 180px;
    top: 340px;
    font-size: 15px;
  }
  .about{
    height: 100%;
    margin: 0 5px;
    font-size: 12px;
  }
  
  .about h1{
    /* margin-top: 10px; */
    font-size: 50px;
    position: relative;
    text-align: center;
  }
  .about img{
    margin-right: 10px;
height: 200px;
float: left;
}

}
