@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Josefin+Sans:wght@300;400&family=Play&family=Poppins:wght@200;300;500;600&display=swap");

.App {
  background-color: #F6FFF8;
  height: 100%;
  font-family: 'Poppins'
}
.copy{
  font-family: "Poppins";
  position: absolute;
  left: 2%;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}
